<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Atendimentos</title>
    <link rel="stylesheet" href="/css/colors.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main-container">
    <header class="app-header">
        <h1>Cadastro de Atendimentos</h1>
    </header>

    <nav class="main-menu">
        <a href="/main" class="menu-button">Tela Principal</a>
        <a href="/cadastro-usuario" class="menu-button">Cadastro de Usuário</a>
        <a href="/relatorio-atendimentos" class="menu-button">Relatório de Atendimentos</a>
        <a href="/cadastro-atendimento" class="menu-button">Cadastro de Atendimentos</a>
    </nav>

    <main class="dashboard-content">
        <section class="card full-width">
            <h3>Formulário de Cadastro de Atendimentos</h3>

            <form th:action="@{/cadastro-atendimento/salvar}" method="post" th:object="${atendimento}">
                <div class="input-group">
                    <label for="cliente">Cliente:</label>
                    <input type="text" id="cliente" th:field="*{cliente}" placeholder="Nome do Cliente" required>
                </div>
                <div class="input-group">
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" th:field="*{descricao}" rows="5" placeholder="Descreva o atendimento" required></textarea>
                </div>
                <div class="button-group-single">
                    <button type="submit" class="login-button">Salvar Atendimento</button>
                </div>
            </form>
        </section>
    </main>

    <footer class="app-footer">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-button">Sair</button>
        </form>
    </footer>
</div>
</body>
</html>