<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redefinir Senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">
        <h2>Redefinir Senha</h2>

        <form th:action="@{/redefinir-senha}" method="post">

            <!-- Mensagem de sucesso -->
            <div th:if="${successMessage}" class="success-message">
                <p th:text="${successMessage}"></p>
            </div>

            <!-- Mensagem de erro -->
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>

            <div class="input-group">
                <label for="username">ID de Login:</label>
                <input type="text" id="username" name="username" placeholder="Digite seu ID de Login" required />
            </div>

            <div class="input-group">
                <label for="newPassword">Nova Senha:</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Digite sua nova senha" required />
            </div>

            <div class="button-group-single">
                <button type="submit" class="login-button">Salvar</button>
            </div>

            <div class="text-center-link">
                <a th:href="@{/login}" class="forgot-password-link">Voltar para o Login</a>
            </div>

            <!-- Token CSRF para segurança -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>
</body>
</html>